/**
 * Base Elements
 */

 * {
  margin: 0;
  padding: 0;
}

html {
  @extend %font-stack-NotoSans;
}

body {
  background: #f3f3f3;
}

a {
  color: #016aba;
  text-decoration: none;
}

button {
  font-size: 100%;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}
