.search-container {
  display        : flex;
  justify-content: center;
  align-items    : center;
  padding        : 10px;
  position       : sticky;
  top            : 5px;
  z-index        : 991;

  Input {
    font-size    : 1.5em;
    padding      : 2px;
    border       : 1px solid $search_border;
    border-radius: 5px;
  }

  Input:focus {
    outline: none;
  }
}