.search-container {
  display        : flex;
  justify-content: center;
  align-items    : center;
  padding        : 10px;
  position       : sticky;
  top            : 5px;
  z-index        : 991;
  transform      : scale(1.05, 1.05);
  transition     : all 0.2s;
  width          : 95vw;

  Input {
    font-size    : 1.5em;
    padding      : 2px;
    border       : 1px solid $search_border;
    border-radius: 5px;
  }

  Input:focus {
    outline: none;
  }
}

@media (max-width: 630px) {
  .search-container {
    top       : 55px;
    background: $navbar_background;
    transform : scale(1.05, 1.05);
    transition: all 0.2s;
  }
}