%font-stack-NotoSans {
  font-family: 'Noto Sans', sans-serif;
  font-size  : 15px;
  font-style : normal;
  font-weight: 400;
}

$navbar_background  : #392b3c;
$navbar_logo        : rgb(255, 167, 3);
$navbar_logo__hover : rgb(255, 255, 255);
$navbard_height     :60px;

$search_border: $navbar_logo;

$card_background : rgb(231, 224, 209);
$card_text       : #2c222e;