<LinkTo @route="movie" @model={{@movie.id}}>
  <div class="movie-card">
    <div
      class="movie-card__poster"
      style="background-image: url({{this.poster}});"
    ></div>
    <h2 class="movie-card__title">
      {{@movie.original_title}}
    </h2>
    <h3 class="movie-card__year">
      {{this.year}}
    </h3>
  </div>
</LinkTo>