<div>
  <h2>
    Welcome to Movies Searcher!
  </h2>
  <p>
    We hope you find exactly what you're looking for in a movie to watch.
  </p>
</div>
<div>
  <Input />
</div>
<div>
  <a href="/movie/the-very-scared-movie">
    <div class="movie-card">
      <div
        class="movie-card__poster"
        style="background-image: url('https://upload.wikimedia.org/wikipedia/en/2/29/Movie_poster_for_%22Scary_Movie%22.jpg');"
      >
      </div>
      <h2 class="movie-card__title">
        The Very Scared Movie
      </h2>
      <h3 class="movie-card__year">
        1999
      </h3>
    </div>
  </a>
</div>