{{! <div>
  <h2>
    Welcome to The Movies Searcher!
  </h2>
  <p>
    We hope you find exactly what you're looking for in a movie to watch.
  </p>
</div> }}
<Search />
<Movies @moviesPage={{@model}} />