<InfiniteScroller
  class="movies-list"
  @onLoadMore={{this.handleLoadMore}}
  @element={{this.document}} as |scroller|
>
  {{#each this.things as |movieInfo|}}
    <Movie @movie={{movieInfo}} />
  {{/each}}
  {{#unless scroller.isScrollable}}
    <button type="button" {{on 'click' scroller.loadMore}}>
      Load more
    </button>
  {{/unless}}
  {{#if scroller.isLoading}}
    <div class="status">
      Loading...
    </div>
  {{/if}}
</InfiniteScroller>